@model TransportationGuide.ViewModels.AccountViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}


<!-- start Content -->
<div id="content">

    <div class="container">
        <div class="panel proper-form-bg">
            @using (Html.BeginForm("Login","Account",new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,new { @class="proper-login", role= "form" }))
            {
                @Html.AntiForgeryToken()
            
                <div class="member-login">
                    <img src="~/Themes/ProperTheme/images/agents/a3.jpg" class="img-polaroid" width="90" alt="image-login" />
                    <div class="member-desc">
                        <h3>Giriş :</h3>
                        <a href="#">Lütfen Bilgilerinizi Doldurunuz..</a>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                </div>
                <label>Username</label>
                <input class="input-block-level" data-val="true" id="Username" name="Username" type="text" />
                <label>Password</label>
                <input type="password" class="input-block-level" name="Password" />
                <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe) Beni Hatırla
                </label>
                <hr />
                
                if (ViewBag.LoginResultMessage != null) 
                {
                    <div class="alert ">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>@ViewBag.LoginResultMessage</strong>
                    </div>
                }
                
                
                <div class="clearfix">
                    <input type="submit" value="Giriş Yap" class="btn btn-proper" />&nbsp;&nbsp; <a href="#">Şifrenizi mi Unuttunuz?</a>
                </div>
            }
        </div>
    </div>
</div>



