<div class="span6 right-line">
    <h2 class="main-heading bottom-line"><span class="main-circle-icon"><i class="icon-check"></i></span> Accordion</h2>
    <!--Start Accordion-->
    <div class="accordion right-space">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#question201">
                    <h4>How Contact Agent?</h4>
                </a>
            </div>
            <div id="question201" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                </div>
            </div>
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#question202">
                    <h4>How To Create Property?</h4>
                </a>
            </div>
            <div id="question202" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                </div>
            </div>
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#question203">
                    <h4>How To Change Plan Price?</h4>
                </a>
            </div>
            <div id="question203" class="accordion-body collapse">
                <div class="accordion-inner">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                </div>
            </div>
        </div><!--End Accordion-->
    </div>
</div>
