@model TransportationGuide.ViewModels.UserViewModels.UserSessionData

<div class="span3 right-line">
    <h2 class="main-heading bottom-line"><strong>Seçenekler</strong></h2>
    <!--Start Accordion-->
    <div class="accordion right-space">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#mnProfile">
                    <h4>Profil</h4>
                </a>
            </div>
            <div id="mnProfile" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <ul> 
                        <li>@Html.ActionLink("Güncelle","Update",new { id=Model.Id })</li>
                        <li>Profil Resmi Ekle</li>
                        <li>Dondur</li>
                    </ul>
                </div>
            </div>
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#mnFavorites">
                    <h4>Favorilerim</h4>
                </a>
            </div>
            <div id="mnFavorites" class="accordion-body collapse">
                <div class="accordion-inner">
                        <ul>
                            <li>Favori1</li>
                            <li>Favori1</li>
                        </ul>
                    </div>
            </div>
        </div><!--End Accordion-->
    </div>
</div>
