@model TransportationGuide.ViewModels.UserViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Profiliniz";
}

<div class="span6">
    <h2 class="main-heading bottom-line line-before"><span class="main-circle-icon"><i class="icon-check"></i></span> Tabs</h2>
    <!--Start Tabs-->
    <section class="">
        <ul class="nav nav-tabs bot-tab">
            <li class="active"><a href="#home">Tab1</a></li>
            <li><a href="#profile">Tab2</a></li>
            <li><a href="#messages">Tab3</a></li>
        </ul>
        <div class="tab-content custom-tab">
            <div class="tab-pane active" id="home">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                <a class="btn gbtn btn-warning" href="#">Read More</a>
            </div>
            <div class="tab-pane" id="profile"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p></div>
            <div class="tab-pane" id="messages"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p></div>
            <div class="tab-pane" id="settings">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
            </div>
        </div>
    </section><!--End Tabs-->
</div>

